{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <h2>Detalles {{ evento.e_nombre }}</h2>
    <table class="resultado">

        <col width="180">

        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>

        
        <tr><td>Nombre</td><td>{{ evento.e_nombre }}</td></tr>
        <tr><td>Categoria</td><td>{{ evento.get_categoria_display }}</td></tr>
        <tr><td>Lugar</td><td>{{ evento.e_lugar }}</td></tr>
        <tr><td>Dirección</td><td>{{ evento.e_direccion }}</td></tr>
        <tr><td>Fecha Inicio</td><td>{{ evento.e_fechaIni }}</td></tr>
        <tr><td>Fecha Fin</td><td>{{ evento.e_fechaFin }}</td></tr>
        <tr><td>Modo</td><td>{{ evento.e_tipo  }}</td></tr>
       
       
    </table>

    <form>
        <br>
        <input type="button" value="Regresar" onclick="window.location.href='{% url 'eventos:listaEventos' %}'" />
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/table.css" />
{% endblock %}